html, body{
  background-color: #f7f7f7;
}

#app{
  margin: 0 auto;
  width: 640px;
}

.allTiles{
  width: 80px;
  height: 80px;
}

.darkTile{
  background-color: #A67D5D;
}

.lightTile{
  background-color: #E8D0AA;
}
